@tailwind base;
@tailwind components;
@tailwind utilities;

.province {
  fill-opacity: 1;
  stroke: black;
  stroke-opacity: 1;
  stroke-width: 0.5;
}

.province:hover {
  fill-opacity: 0.5;
  fill: rgb(254 240 138);
}

.axis-label {
  font-weight: bolder;
  font-size: x-large;
}

.ticks-group {
  opacity: 1;
  font-size: small;
}

.tick line,
.axis-line {
  stroke: #e6e6e6;
}

.nav {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.nav a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

p a {
  color: blue;
}
