@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.axis-label {
  font-weight: bolder;
  font-size: x-large;
}

.chart {
  background-color: white;
  margin: 25px auto;
  position: relative;
}

.chart path {
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.ticks-group {
  opacity: 1;
  font-size: small;
}

.tick line {
  stroke: #c0c0bb;
}

#tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  display: none;
  padding: 10px;
  pointer-events: none;
  position: absolute;
}

.mark {
  fill: #137b80;
}
